.wrapper {
    +.wrapper {
        margin-left: 8px;
    }
}

.primary {
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color: var(--button-primary);
    border-radius: 4px;

    &:hover {
        color: white;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.leftIcon {
    margin-right: 2px;
}

.second {
    font-weight: 800;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color: var(--main-color);
    border-radius: 4px;

    &:hover {
        color: white;
        background: var(--button-primary);
    }
}
.liked{
    font-weight: 800;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color:gray;
    border-radius: 4px;
    border: 1px solid black;
    &:hover {
        color: white;
        background: var(--button-primary);
    }
}

.btnGenres {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    color: black;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;

    .leftIcon {
        // color: rgb(255, 98, 0);
        color: var(--button-primary);
    }

    &:hover {
        color: white;
        background: var(--button-primary);

        .leftIcon {
            color: white;

        }
    }

}

.btnHeader {
    padding: 8px;
    text-align: center;
    width: 70px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: var(--button-primary);
    border-radius: 4px;

    &:hover {
        color: white;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}
.linkAuthor{
    font-size: 14px;
    color: gray;
    font-style: italic;
    text-decoration: underline;
    &:hover{
        color: var(--button-primary);
    }
}
.unFollow{
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color: gray;
    border-radius: 4px;

    &:hover {
        color: white;
       opacity: 0.6;
    }
}
.saleLink{
    text-align: center;
}