.wrapper{
    +.wrapper{
        margin-left: 8px;
    }
}
.primary{
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color: var(--button-primary);
    border-radius: 4px;
    &:hover{
        color: white;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}
.leftIcon{
    margin-right: 2px;
}
.second{
    font-weight: 800;
    cursor: pointer;
    color: white;
    padding: 6px 8px;
    background-color: var(--main-color);
    border-radius: 4px;
    &:hover{
        color: white;
        background: var(--button-primary);
    }
}
.btnHeader{
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 700;
}