.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    >:last-child{
        background-color: var(--main-color);
        color: white;
        &:hover{
            background-color: var(--button-primary);
        }
    }
}