.wrapper{
    display: flex;
    span{
        margin: 4px;
        cursor: pointer;        
        >:first-child{
            height: 18px;
            width: 18px;
            padding: 2px;
            border-radius: 999px;
            &:hover{
                background: var(--hover-action);
                color: white;
            }
        }
    }
}
