.carouselContainer {
  // margin: 0 100px ;
  width: 100%;
  padding: 10px 50px;
  // background: white; /* Màu nền */
  position: relative; /* Cần để các nút điều hướng xuất hiện đúng vị trí */
  overflow: hidden; /* Ẩn bất kỳ phần tử nào vượt quá kích thước của container */

  .title {
    text-align: left;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .carouselItem {
    padding: 10px;
  }

  /* Ban đầu ẩn các nút prev/next */
  .arrow {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Nền tối cho nút */
    border: none;
    color: black !important;
    font-size: 24px;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0; /* Ban đầu ẩn */
    transition: opacity 0.3s ease; /* Thêm hiệu ứng khi hiển thị */
    border-radius: 50%; /* Bo tròn các nút */
  }

  /* Nút prev */
  .prev {
    left: 10px;
  }

  /* Nút next */
  .next {
    right: 10px;
  }

  /* Hiển thị các nút khi hover vào carousel */
  &:hover .arrow {
    opacity: 1; /* Hiển thị khi hover */
  }
}
