.mainWrapper {
    display: flex;

    button {
        margin: 15px;
        width: 25%;
    }

    width: 100%;
}

.wrapper {
    width: 75%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    border-radius: 2px;
    margin: 8px 0;

    img {
        width: 40px;
        border-radius: 99px;
        margin-left: 15px;
        &:hover {
            opacity: 0.6;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.info {
    margin-left: 12px;
    // display: flex;
    // flex-direction: column;
    // ul{
    //     display: flex;
    //     li{
    //         font-size: 12px;
    //         margin: 2px;
    //         color: gray;
    //         &:hover{
    //             text-decoration: underline;
    //         }
    //     }
    // }
}