.wrapper {
    height: 48px;
    line-height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px var(--special-color);
}

//
.logo {
    height: 30px;
    margin: auto 20px;
    display: flex;

    img {
        width: fit-content;
        height: 24px;
        background-color: white;
    }
}

//
.search {
    position: relative;
    display: flex;

    input {
        padding: 0 20px;
        height: 34px;
        margin: auto 0;
        width: 340px;
        border-radius: 999px;
        background-color: rgb(228, 232, 236);

        &:focus {
            border: 1px solid black;

            +.searchIcon {
                color: black;
            }
        }
    }

    .line {
        position: absolute;
        right: 30px;
        bottom: 9px;
        width: 0.5px;
        height: 30px;
        background-color: rgb(210, 210, 210);
    }

    .searchIcon {
        height: 30px;
        position: absolute;
        margin: auto 0;
        right: 8px;
        color: gray;
        cursor: pointer;
    }

    .clearIcon {
        font-size: 10px;
        position: absolute;
        right: 38px;
        color: gray;

    }

    .loadIcon {
        font-size: 10px;
        position: absolute;
        right: 38px;
        color: gray;
    }

}

.search:hover {
    .searchIcon {
        color: black;
    }

    input {
        border: 1px solid gray;
    }
}

//
.action {
    width: fit-content;
    margin-right: 20px;
    display: flex;
    justify-content: end;
}

.actionLogin {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    a {
        color: black;
        font-size: 20px;
        margin: 0 4px;

        &:hover {
            color: var(--main-color);
        }
    }
    div>button:first-child{
        font-size: 14px;
         padding: 5px 15px;
         background-color: white;
         border: solid 0.5px rgb(201, 197, 197);
         cursor: pointer;
         &:hover{
            opacity: 0.6;
         }
    }
}

.actionNotLogin {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    flex-wrap: nowrap;

    >li:first-child {
        margin-right: 8px;
    }
}

.moreMenu {
    margin-left: 8px;
    line-height: 48px;
    cursor: pointer;
}

.wrapperSug {
    width: 340px;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: auto;

    >p:first-child {
        margin-left: 10px;
        font-size: 14px;
        height: 30px;
        color: gray;
    }
}
.createPost{
    >div{
        position: relative;
    }
    >button:first-child{
        z-index: 1;
        position: absolute;
        right: 10px;
        background-color: white;
        font-size: 20px;
        border-radius: 99px;
        cursor: pointer;
    }
}
.wrapperProfile{
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 8px black;
    border-radius: 4px;
}